#alltarifs span{
	font-weight: 800;
}
#alltarifs ul {
	list-style: none;
}
#alltarifs h1 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.5em;
	font-weight: 400;
	color: #1a1a1a;
	letter-spacing: -0.1em;
	
	
}
#alltarifs h3 span {
	background-color: #1a1a1a;
	color: #f2f2f2;
	padding: 5px;

}

#raccourcis ul li {
	display: inline-block;
	
	margin-left: 1em;
}
#raccourcis {
	text-align: center;
	margin-top: 5em;
	margin-bottom: 5em;
}

#raccourcis ul li a {
	text-decoration: none;
	background-color: #1a1a1a;
	color: #f2f2f2;
	padding: 15px;
	

}
#rangone div, #rangtwo div, #rangthree div {
	display: inline-block;
	margin-left: 15em;
	margin-bottom: 5em;
}

#headerco h1  {
	font-weight: 800;
	text-transform: uppercase;
	padding-top: 1em;
	padding-bottom: 2em;
	letter-spacing: -0.1em;
	color: #1a1a1a;
}
#headerco h1 , #collec h3  {
	text-align: center;
	
}

#collec h3 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: 400;
	text-transform: uppercase;
	color: #f2f2f2;

}
#collec2{
	margin-top: 6em;
}
#headerco {
	background-color: #f2f2f2;
}
#headerco h1 span {
	font-weight: 400;
	font-style: italic;
	margin-left: 6em;

}
#collec , #collec2 {
	background-color: #1a1a1a;
}
.spacecollec {
	background-color: #f2f2f2;
	padding-top: 5em;
	padding-bottom: 5em;
}