
#inlinesalon h1, #inlinesalon h2, #inlinesalon p, #inlinesalon li {
	color: #1a1a1a;
}

#inlinesalon h1 {
	font-weight: 800;
	text-align: center;
	letter-spacing: -0.1em;
	text-transform: uppercase;
}

#inlinesalon  span {
	font-weight: 700;
}
#inlinesalon ul li {
	list-style: none;
}
#inlinesalon .inlinediv {
	display: inline-block;
}
