   .navbar-header{
    padding-bottom: 2em;
    }
  #salons {
  	display: none;
  }
  #indexlink {
  	display: none;
  }
  header {
  	display: none;
  }
#about {
	padding-top: 0.01em;
	padding-bottom: 8em;
}
#about h1 {
	color: #f2f2f2;
}
.inlineavis {
	display: none;
}
footer div {
	text-align: center;

}
#partenaires h4, #partenaires ul {
	display: none;
}
.foot {
	margin-left: 0.1em;
}
.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
	color: #f2f2f2;
}
.navbar-default .nav > li>a:hover, .navbar-default .nav>li>a:focus:hover {
    color: #f2f2f2;
}
#headerco h1 span {
    font-weight: 200;
    font-style: italic;
    margin-left: 2em;
}
#bodyrct p {
    font-size: 1em;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
#raccourcis ul {
  display: none;
}
#rangone div, #rangtwo div, #rangthree div {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 5em;
    text-align: center;
}
#rangone h3, #rangtwo h3, #rangthree h3 {
  margin-bottom: 1em;
}

.responsivenone {
  display: none;
}
.inlinediv {
  margin-left: 1.8em;
}
#logodumilieu{
  display:none; 
}

#responsivecar {
  width: 20em;
}
#pagefb15 {
  display: none;
}